---
layout: default
title: Home
---
<link rel="icon" type="image/x-icon" href="favicon.ico">

<div class="docs-section" id="bio">
  <h4>About me</h4>

  <p>
    I am a Full-time Professor in the 
    <a href="https://www.ibero.mx/es-MX/departamento/ingenieria-quimica-industrial-y-de-alimentos">Departamento de Ingeniería Química, Industrial y de Alimentos</a> 
    at <a href="https://ibero.mx/es-MX/home">Universidad Iberoamericana</a>. 
    I hold a Ph.D. in Industrial Engineering from <a href="https://cadit.anahuac.mx/n/">Universidad Anáhuac México</a> with a minor in optimization, 
    an M.Sc. in Systems Engineering from <a href="https://www.uanl.mx/">UANL</a>, and a B.S. in Industrial Engineering from 
    <a href="https://www.tuxtla.tecnm.mx/">Instituto Tecnológico de Tuxtla Gutiérrez</a>.
  </p>

  <p>
    My research lies at the intersection of applied optimization and statistical analysis. 
    I develop mathematical models and computational frameworks to drive data-informed decision-making, with a particular 
    emphasis on business analytics. Currently, I focus on the synergy between 
    machine learning and industrial engineering to solve complex problems in logistics and educational 
    environments, aiming to bridge the gap between theoretical modeling and practical applications.
  </p>

  <p>
    I am a member of the Mexican National System of Researchers (<strong>SNII, Candidate level</strong>), 
    a distinction that complements my international recognition as an <strong>Outstanding Professor (2025)</strong> 
    by the <a href="https://ieomsociety.org/">IEOM Society International</a>. My commitment to the intersection of research 
    and teaching was further honored with the <a href="https://www.anuies.mx/"> <strong>ANUIES</a> Award</strong> for Educational Innovation (2024), 
    reflecting a career dedicated to advancing industrial engineering through rigorous academic excellence and high-impact mentorship.
  </p>
</div>

<div class="docs-section" id="people">
  <h4>Advisees</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#current">Current</div></li>
    <li><div class="button" data-ref="#former">Former</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="current">
      {% assign current_people = site.data.students.students | where: "category", "current" %}
      {% for person in current_people %}
        <div class="paper">
          <p class="title"><b>{{ person.name }}</b> ({{ person.time }})</p>
          <p><i>{{ person.place }}</i></p>
          {% if person.current %}
          <p> {{ person.current }} </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="former">
      {% assign former_people = site.data.students.students | where: "category", "former" %}
      {% for person in former_people %}
        <div class="paper">
          <p class="title"><b>{{ person.name }}</b> ({{ person.time }})</p>
          <p><i>{{ person.place }}</i></p>
          {% if person.current %}
          <p> {{ person.current }} </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="docs-section" id="publications">
  <h4>Select publications</h4>
  <ul>
    <li>
      <strong>Pérez-Vicente, HA.</strong>, Torres-Bermúdez, E. G., Ruiz-Morales, M., & Velasco-Álvarez, J. (2024). Statistical process control and PDCA for quality improvement in the Mexican automotive industry. <i>Ingeniería Investigación y Tecnología</i>, 25 (01), 1-8. 
      <a href="https://doi.org/10.22201/fi.25940732e.2024.25.1.002" target="_blank">https://doi.org/10.22201/fi.25940732e.2024.25.1.002</a>
    </li>

    <li>
      Fuentes Cabrera JG, <strong>Pérez Vicente HA</strong>, Maldonado S, Velasco J (2023). Combination of unsupervised discretization methods for credit risk. <i>PLoS ONE</i> 18(11): e0289130. 
      <a href="https://doi.org/10.1371/journal.pone.0289130" target="_blank">https://doi.org/10.1371/journal.pone.0289130</a>
    </li>

    <li>
      Mora-Flores LP, Moreno-Terrazas Casildo R, Fuentes-Cabrera JG, <strong>Pérez-Vicente HA</strong>, de Anda-Jáuregui G, Neri-Torres EE (2023). The Role of Carbohydrate Intake on the Gut Microbiome: A Weight of Evidence Systematic Review. <i>Microorganisms</i>; 11(7):1728. 
      <a href="https://doi.org/10.3390/microorganisms11071728" target="_blank">https://doi.org/10.3390/microorganisms11071728</a>
    </li>
  </ul>
  <p>
    Full publications on <a href="https://scholar.google.com/citations?user=j4OpUE8AAAAJ&hl=en" target="_blank">Google Scholar</a>.
  </p>
</div>

<div class="docs-section" id="resume">
  <h4>Resume</h4>

  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>

  <p>Complete Curriculum Vitae available via <a href="https://www.overleaf.com/read/rmjjvyhmnpcm#c6af25" target="_blank">Overleaf</a> 
      <small>(direct PDF download)</small>
  </p>
</div>

<div class="footer-update">
  <p style="text-align:right; font-size:x-small;">
    Website template from <a style="font-size:x-small;" href="https://github.com/msaveski/www_personal">Martin Saveski</a> <br>
    Last updated: April 28, 2026
  </p>
</div>